---
---

@import "{{ site.theme }}";
/*@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css');
@import url('https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css');
